.App {
  text-align: center;
}

.botao {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: chocolate;
  color: white;
  font-size: 20px;
}
.botao:hover {
  background-color: #97460c;
  cursor: pointer;
}
